@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ricardo Nunes<br />
    Curitiba/PR<br />
    <abbr title="Telefone">T:</abbr>
    41 9 9913-2299
</address>

<address>
    <strong>Support:</strong> <a href="mailto:is.ricardo@hotmail.com">is.ricardo@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:is.ricardo@hotmail.com">is.ricardo@hotmail.com</a>
</address>
